{% extends "nursery/base_nursery.html" %}
{% load crispy_forms_tags %}

{% block title %}Добавить питомца{% endblock %}

{% block content %}
    <h1>Добавить питомца</h1>
    {% if form.errors %}
        <div class="alert alert-danger">
            Пожалуйста, исправьте ошибки:
            {{ form.non_field_errors }}
            {{ form.name.errors }}
            {{ form.breed.errors }}
            {{ form.family.errors }}
            {{ form.price.errors }}
            {{ form.currency.errors }}
            {{ form.image.errors }}
        </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Создать</button>
        <a href="{% url 'pet_list' %}" class="btn btn-secondary">Отмена</a>
    </form>
{% endblock %}